<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiearkisto - Annokset</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <a th:href="${'/'}">Etusivulle</a>
        
        <h1>Annokset</h1>

        <mark><span th:text="${viesti}"></span></mark>

        <div>
            <ul>
                <li th:each="annos : ${annokset}">
                    <span th:text="${annos.nimi}">
                        annoksen nimi
                    </span> 
                    <a th:href="${'/annos/' + annos.id}">(katsele/muokkaa)</a>
                    <a th:href="${'/annos/' + annos.id + '/delete'}">(poista)</a>
                </li>
            </ul>
        </div>
        
        <div>
            <h3>Lisää annos</h3>
            <form th:action="@{~/annokset}" method="post">       
                <input type="text" name="nimi"></input>
                <input type="submit" value="Lisää"/>
            </form>            
        </div>
        
    </body>
</html>